@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

.cards{
    position: absolute;
    left: 50%;
    top: 50px;
    transform-origin: 50% 100%;
}
.cart1{
    transform: rotateZ(-15deg);

}
.cart3{
    transform: rotateZ(15deg);
}
.cards:hover{
    z-index: 2;
}